.bodyNews{
    display: flex;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

}

.pageSection{
    width : 50%;
}

.sideProfile{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 3.5rem;
    margin-left: 1.5rem;

}

.newsPosts{
    margin-top: 1rem;
}

.sideSection{
    width : 25%;
    margin-left: -1rem;
}

.profileImg{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 9999px;
    border-width: 1px;
    padding: 2px;

}

.light {
    --color-bg: #ffffff;
    --color-fg: #120d0d;
}

.dark {
    --color-bg: #364146;
    --color-fg: #ffffff;
}

@media (max-width : 768px){
    .bodyNews{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 100%;
    }

    .sideSection{
        visibility: hidden;
        width: 0%;
    }

    .pageSection{
        width: 75%;
        /* margin-left: 15rem; */
    }

}

@media (max-width : 1200px) {
    .bodyNews{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        max-width: 72rem;
        margin-left: 0rem;
        margin-right: 0rem;

    }
}