.newsHeader{
    display: flex;
    align-items: center;
    padding: 0.8rem;
}

.postImage{
    border-radius: 9999px;
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    padding: 0.25rem;
    border-width: 1px;
    margin-right: 0.75rem;
}

.newsIcon{
    height: 1.3rem;
    width : 1.3rem;
}

.userName{
    font-weight: bold;
    flex: 1 1 0%;
    text-decoration: none;
    color: var(--color-fg);

}

.form{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.inputBox{
    border-style: none;
    flex: 1 1 0%;
    outline: 2px solid transparent;
    outline-offset: 2px;
    margin-left: 1rem;

}

.button{
    font-weight: 500;
    color : orange;
    background-color: white;
    border: none;
    cursor: pointer;
}

.smileIcon{
    height: 1.5rem;
    width: 1.5rem;
}

.img{
    width: 100%;
    object-fit: cover;
    height : 30rem;
}

.like{
    height: 1.5rem;
    width: 1.5rem;
    cursor : pointer;
    margin-left: 1rem;

}

.caption{
    display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
        padding: 1.25rem;
        word-wrap: break-word;
        margin-top: 0.5rem;
}

.like:hover{
    --transform-scale-x: 1.25;
    --transform-scale-y: 1.25;
}

.light {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border : 1px solid rgb(218, 212, 212) ;
    margin-top: 0.5rem;
    /* width : 40rem; */
    margin: auto;
    --color-bg: #ffffff;
        --color-fg: #120d0d;
}

.dark {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid rgb(218, 212, 212);
    margin-top: 0.5rem;
    /* width : 40rem; */
    margin: auto;
    --color-bg: #ffffff;
    --color-fg: #120d0d;
    --color-bg: #3e4548;
    --color-fg: #ffffff;
}

.iconBar{
    display: flex;
    margin-left: 1rem;
    height : 3rem;
    align-items: center;
}

.data{
    font-weight: bold;
    margin-right: 0.25rem;
}

.bio{
    font-weight: 400;
    font-size: 1rem;
}

.like:hover{
    color : rgb(84, 171, 218)
}

@media (max-width : 768px) {
    .newsFeed{
        width : 18rem;
        margin-top: 1.5rem;
        /* height : 10rem; */
    }

    .img{
        height : 25rem;
        width: 30rem;
    }

    .postImage{
        width: 2rem;
        height: 2rem;
    }
    
    .caption{
        font-size: 1rem;
        padding: 0.4rem;
    }

    .userName{
        font-size: 0.7rem;
    }

    .data{
        font-size: 0.7rem;
    }

    .newsHeader{
        padding: 0.8rem;
    }

    .form{
        padding : 0.3rem;
    }

    .inputBox{
        margin-left: 0.4rem;
    }

    .like{
        height : 1rem;
        width : 1rem;
    }

    .iconBar{
        margin-left: 0.3rem;
        height : 1.5rem;
    }

        .bio {
            font-weight: 400;
            font-size: 0.7rem;
        }
}