.imageData{
    text-align: center;
    margin-top: 2rem;
}

.imageGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
    max-width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}

.imageGalleryImage{
    max-width: 100%;
    height: 15rem;
    width : 17rem;
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 0.8rem;
    background-color: #d2d1d2;
    width: 40%;
    height : 3rem;
    padding: 0.5rem;
    border-radius: 15px;
}

.buttons{
    background-color: #615f62;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 1rem;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileText{
    font-size: xx-large;
    font-weight: bold;
    margin-top: 0.1rem;
    font-family: 'Dancing Script', cursive;
    color: var(--color-fg);
}

.profileName {
    font-size: medium;
    font-weight: 700;
    margin-top: 0.1rem;
    color: var(--color-fg);
}

.profileImage{
    height : 12rem ; 
    width : 12rem ; 
    border-radius: 20px;
}

.listProfile{
    height : 6rem;
    width : 6rem;
}

.imageimg{
    max-width: 100%;
    height: 50rem;
    width: 60rem;
}

.listProfile{
    margin: auto;
    text-align: center;
}
.listView{
    text-align: center;
    /* background-color: #615f62; */
}

.userProfilebox{
    background-color: rgb(240, 239, 239);
}

.des{
    font-weight: 500;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.listBox{
    background-color: #F5F5F5;
    width: 60%;
    margin: auto;
    margin-top: rem;
    border-radius: 10px;
}

.profileCaption{
    margin-top: 0.5rem;
    font-weight: bold;
    width: 60%;
    margin: auto;
    color: var(--color-fg);
}

.bio{
    font-weight: 400;
    font-size: 1rem;
}

@media (max-width : 768px) {
    .imageGallery{
        grid-template-columns: repeat(2, 1fr);
    }

    .imageGalleryImage{
        height : 13rem;
        width  : 15rem;
    }

    .listView{
        width : 100%;
    }

    .imageimg{
        height: 15rem;
        width: 50rem;
    }

    .bio{
        font-size: 0.3rem;
    }

        .profileCaption {
            margin-top: 0.5rem;
            font-weight: bold;
            width: 80%;
            margin: auto;
        }

        .boxes{
            width: 80%;
        }
}


